Python is an object oriented scripting language that was released publicly in 1991. 
It was developed by Guido van Rossum of the National Research Institute for Mathematics and Computer Science in Amsterdam.
Python has rapidly become one of the world's most popular programming languages. It’s now particularly popular for educational and scientific computing, and it recently surpassed the programming language R as the most popular datascience programming language.

# Writing and Executing Code in Google Colab

## Creating a New Notebook

Click on File, New notebook, rename the default notebook file name from Untitled11.ipynb to anything you want, but keep the extension.

## Evaluating an Expression

To add a code or a text cell, you can click on the icon on the top bar or use keyboard shortcuts. You can use or create your own keyboard shortcuts by clicking on Toolsm keyboard shortcuts.

As a first exercise,we have wrote for you the following code, you need just to run it. Click inside the cell containing the instruction 45 + 72 then run it (by clicking on the arrow or by using the shortcut CTRL+ENTER)

In [2]:
45+72

117

## Adding and Executing Another Cell

Now underneath this cell, create a new code cell (you need to be clicking here in order to add a cell) then write the following formula and run it: 
2.5 + 7 * 2 / 3 
you should get the following answer : 7.166666666666667

In [3]:
2.5 * 7 * 2 / 3

11.666666666666666

# Variables and Assignment Statements

Evaluate the following expressions

In [ ]:
45 + 72

The following creates a variable named x that stores the integer 7:

In [ ]:
x = 7

In the following cell, create a variable named y that stores the integer 3.

In [ ]:
y = 3

## Adding Variable Values and Viewing the Result

run the following expression, you should get the 10.

In [ ]:
x + y

## Calculations in Assignment Statements

The following statement adds the values of variables x and y and assigns the result to the variable total, which we then display:

In [ ]:
total = x + y

In [ ]:
total

## Variable Names

A variable name, such as x, is an identifier. Each identifier may consist of letters,
digits and underscores (_) but may not begin with a digit. Python is case sensitive, so
number and Number are different identifiers because one begins with a lowercase letter
and the other begins with an uppercase letter.

## Types

Each value in Python has a type that indicates the kind of data the value represents.
You can view a value’s type with Python’s builtin
type function, as in:

In [1]:
type(x)

NameError: name 'x' is not defined

In [ ]:
type(10.5)

# Arithmetic

Run each of the following:

## Multiplication (`*`)

In [ ]:
7 * 4

## Exponentiation (`**`)

In [2]:
2 ** 10

1024

In [3]:
9 ** (1 / 2)

3.0

## True Division (`/`) vs. Floor Division (`//`)

**True division** (/) divides a numerator by a denominator and yields a floatin gpoint
number with a decimal point.

**Floor division** (//) divides a numerator by a denominator, yielding the highest
integer that’s not greater than the result. Python truncates (discards) the fractional
part.

In [4]:
7 / 4

1.75

In [5]:
7 // 4

1

In [ ]:
3 // 5

In [ ]:
14 // 7

In [ ]:
-13 / 4

In [ ]:
-13 // 4

## Exceptions and Tracebacks

Dividing by zero with / or // is not allowed and results in an exception—a sign that a problem occurred.

In [ ]:
123 / 0

An exception also occurs if you try to use a variable that you have not yet created. The
following snippet tries to add 7 to the undefined variable z, resulting in a **NameError**

In [6]:
z + 7

NameError: name 'z' is not defined

## Remainder Operator

In [7]:
17 % 5

2

In [8]:
7.5 % 3.5

0.5

## Grouping Expressions with Parentheses

In [ ]:
10 * (5 + 3)

In [ ]:
10 * 5 + 3

## Operator Precedence Rules

Python applies the operators in arithmetic expressions according to the following rules of operator precedence. These are generally the same as those in algebra:
1. Expressions in parentheses evaluate first.
2. Exponentiation operations evaluate next. If an expression contains several
exponentiation operations, Python applies them from right to left.
3. Multiplication, division and modulus operations evaluate next. If an expression contains several multiplication, truedivision,
floor division
 and modulus
operations, Python applies them from left to right. Multiplication, division and
modulus are “on the same level of precedence.”
4. Addition and subtraction operations evaluate last. If an expression contains several
addition and subtraction operations, Python applies them from left to right.
Addition and subtraction also have the same level of precedence.

# Function print and an Intro to Single-and-Double-Quoted Strings

The builtin
*print* function displays its argument(s)

In [9]:
print('Welcome to Python!')

Welcome to Python!

In [10]:
print("Welcome to Python!")

Welcome to Python!

## Printing a Comma-Separated List of Items

The print function can receive a comma separated
list of arguments

In [11]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

## Printing Many Lines of Text with One Statement

In [12]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

## Ignoring a Line Break in a Long String

In [13]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

## Printing the Value of an Expression

In [14]:
print('Sum is', 7 + 3)

Sum is 10

# Triple-Quoted Strings

## Including Quotes in Strings

Triple quoted
strings begin and end with three double quotes (""") or
three single quotes ('''). The Style Guide for Python Code recommends three double
quotes ("""). Use these to create:
multiline strings,
strings containing single or double quotes and
docstrings, which are the recommended way to document the purposes of certain
program components.

Run the following instructions, identify the wrong and correct writings.

In [15]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [16]:
print('Display 'hi' in quotes')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_5268/102489360.py, line 1)

In [17]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [18]:
print("Display the name O'Brien")

Display the name O'Brien

In [19]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [20]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

## Multiline Strings

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [23]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [24]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

Did you get the difference  between the above 2 ways to display a multiline string?

# Getting Input from the User

The builtin
*input* function requests and obtains user input

In [1]:
name = input("What's your name? ")

In [2]:
name

'name'

In [3]:
print(name)

name

In [4]:
name = input("What's your name? ")

In [5]:
name

'batata'

In [6]:
print(name)

batata

## Function input Always Returns a String

Rather than adding the integers 7 and 3 to produce 10, Python “adds” the string values
'7' and '3', producing the string '73'. This is known as string concatenation. It
creates a new string containing the left operand’s value followed by the right operand’s
value.

In [8]:
value1 = input('Enter first number: ')

In [9]:
value2 = input('Enter second number: ')

In [10]:
value1 + value2

'11'

## Getting an Integer from the User

If you need an integer, convert the string to an integer using the builtin
*int* function

In [11]:
value = input('Enter an integer: ')

In [12]:
value = int(value)

In [13]:
value

1

In the following, try to enter a real number or a string ! Experiment !

In [15]:
another_value = int(input('Enter another integer: '))

In [16]:
another_value

10

In [17]:
value + another_value

11

In [18]:
bad_value = int(input('Enter another integer: '))

In [19]:
int(10.5)

10

# Decision Making: The if Statement and Comparison Operators

A condition is a Boolean expression with the value True or False.

*True* and *False* are Python keywords. Using a keyword as an identifier causes a
*SyntaxError*.
*True* and *False* are each capitalized.

In [20]:
7 > 4

True

In [21]:
7 < 4

False

In [22]:
7 > = 4

SyntaxError: invalid syntax (Temp/ipykernel_6180/3689856183.py, line 1)

## Making Decisions with the if Statement

Execute the following script 3 times
once with , once

1.   the first integer less than the second
2.   the same value for both integers
3. the first integer greater than the
second.

In [ ]:
"""Compare integers using if statements and comparison operators."""

print('Enter two integers and I will tell you', 
      'the relationships they satisfy.')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

Lines that begin with the hash character (#) indicates that the rest of the line is a
comment

## Docstrings

Each script should start with a docstring
that explains the script’s purpose.
For more complex scripts, the docstring often spans many lines.

## Suite Indentation

Python requires you to indent the statements in suites (or 4 spaces).
You’ll see that incorrect indentation can cause errors.

## Chaining Comparisons

You can chain comparisons to check whether a value is in a range.

In [23]:
x = 3

In [24]:
1 <= x <= 5

True

In [25]:
x = 10

In [26]:
1 <= x <= 5

False

# Objects and Dynamic Typing

Values such as 7 (an integer), 4.1 (a floating point
number) and 'dog' are all objects.
Every object has a type and a value. An object’s value is the data stored in the object.

In [27]:
type(7)

int

In [28]:
type(4.1)

float

In [29]:
type('dog')

str

## Variables Refer to Objects

Assigning an object to a variable *binds* (associates) that variable’s name to the object.

In [2]:
x = 7

In [3]:
x + 10

17

In [4]:
x

7

In [5]:
x = x + 10

In [6]:
x

17

## Dynamic Typing

Python uses dynamic typing—it determines the type of the object a variable refers to
while executing your code. We can show this by rebinding the variable x to different
objects and checking their types.

In [7]:
type(x)

int

In [8]:
x = 4.1

In [9]:
type(x)

float

In [10]:
x = 'dog'

In [11]:
type(x)

str

# Intro to Data Science: Basic Descriptive Statistics

## Determining the Minimum and Maximum with Built-In Functions `min` and `max`

In [ ]:
min(36, 27, 12)

In [ ]:
max(36, 27, 12)

## Functional-Style Programming: Reduction

We introduce various functional style
programming
capabilities. These enable you to write code that can be more concise, clearer and easier
to debug—that is, find and correct errors. The min and max functions are examples of
a
functional style
programming concept called **reduction**. They reduce a collection of
values to a single value. Other reductions you’ll see include the sum, average, variance
and standard deviation of a collection of values. You’ll also see how to define custom
reductions.