# Sequences: Lists and Tuples

**Collections** are prepackaged data structures
consisting of related data items. Python’s builtin
collections enable you to store and access
data conveniently and efficiently.

We’ll demonstrate common `list` and `tuple` manipulations. You’ll see that lists (which are
modifiable) and tuples (which are not) have many common capabilities. Each can hold
items of the same or different types. Lists can **dynamically resize** as necessary,
growing and shrinking at execution time.

#  Lists

### Creating a List

Lists typically store homogeneous data, that is, values of the same data type.

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

They also may store heterogeneous data, that is, data of many different types.

In [3]:
h=['Mary', 'Smith', 3.57, 2022]

In [4]:
h

['Mary', 'Smith', 3.57, 2022]

### Accessing Elements of a List

You reference a list element by writing the list’s name followed by the element’s index
(that is, its position number) enclosed in square brackets (`[]`, known as the
subscription operator). The first element in a list has the index 0.

In [ ]:
c[0]

In [ ]:
c[4]

### Determining a List’s Length

To get a list’s length, use the builtin
`len` function.

In [5]:
len(c)

5

### Accessing Elements from the End of the List with Negative Indices

Lists also can be accessed from the end by using negative indices:

![image.png]()

In [6]:
c[-1]

1543

In [7]:
c[-5]

-45

### Indices Must Be Integers or Integer Expressions

An index must be an integer or integer expression (or a **slice**). Don't panic, we will cover slices soon!

In [ ]:
a = 1

In [ ]:
b = 2

In [ ]:
c[a + b]

Using a noninteger
index value causes a `TypeError`.

### Lists Are Mutable

Lists are mutable—their elements can be modified.

In [8]:
c[4] = 17

In [9]:
c

[-45, 6, 0, 72, 17]

### Some Sequences Are Immutable

Python’s string and tuple sequences are immutable—they cannot be modified. You can
get the individual characters in a string, but attempting to assign a new value to one of
the characters causes a `TypeError`.

In [10]:
s = 'hello'

In [11]:
s[0]

'h'

In [12]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

### Attempting to Access a Nonexistent Element

Using an out-of-range
list, tuple or string index causes an `IndexError`.

In [13]:
c[100]

IndexError: list index out of range

### Using List Elements in Expressions

List elements may be used as variables in expressions:

In [14]:
c[0] + c[1] + c[2]

-39

### Appending to a List with +=

In [15]:
a_list = []

In [16]:
for number in range(1, 6):
    a_list += [number]

In [17]:
a_list

[1, 2, 3, 4, 5]

In [18]:
letters = []

In [19]:
letters += 'Python'

In [20]:
letters

['P', 'y', 't', 'h', 'o', 'n']

### Concatenating Lists with +

You can concatenate two lists, two tuples or two strings using the + operator. The
result is a new sequence of the same type containing the left operand’s elements
followed by the right operand’s elements. The original sequences are unchanged.

In [22]:
list1 = [10, 20, 30]

In [23]:
list2 = [40, 50]

In [24]:
concatenated_list = list1 + list2

In [25]:
concatenated_list

[10, 20, 30, 40, 50]

### Using `for` and `range` to Access List Indices and Values

List elements also can be accessed via their indices and the subscription operator (`[]`).

In [26]:
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

### Comparison Operators

You can compare entire lists element-by-element
using comparison operators:

In [39]:
a = [3, 3]

In [36]:
b = [2, 4]

In [29]:
c = [1, 2, 3, 4]

In [44]:
a >= b

False

In [31]:
a == c

False

In [32]:
a < c

True

In [33]:
c >= b

True

#  Tuples

Tuples are immutable and typically store
heterogeneous data, but the data can be homogeneous. A tuple’s length is its number of
elements and cannot change during program execution.

### Creating Tuples

In [45]:
student_tuple = ()

In [46]:
student_tuple

()

In [47]:
len(student_tuple)

0

In [48]:
student_tuple = 'John', 'Green', 3.3

In [56]:
student_tuple

('John', 'Green', 3.3)

In [50]:
len(student_tuple)

3

In [51]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [52]:
another_student_tuple

('Mary', 'Red', 3.3)

In [53]:
a_singleton_tuple = ('red',)  # note the comma

In [54]:
a_singleton_tuple

('red',)

   

### Accessing Tuple Elements

A tuple’s elements, though related, are often of multiple types. Usually, you do not
iterate over them. Rather, you access each individually. Like list indices, tuple indices
start at 0.

In [57]:
time_tuple = (9, 16, 1)

In [58]:
time_tuple

(9, 16, 1)

In [59]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

### Adding Items to a String or Tuple

As with lists, the += augmented assignment statement can be used with strings and
tuples, even though they’re immutable.

In [60]:
tuple1 = (10, 20, 30)

In [61]:
tuple2 = tuple1

In [62]:
tuple2

(10, 20, 30)

In [63]:
tuple1 += (40, 50)

In [64]:
tuple1

(10, 20, 30, 40, 50)

In [65]:
tuple2

(10, 20, 30)

Concatenating the tuple (40, 50) to tuple1 creates a new tuple, then assigns a
reference to it to the variable tuple1—tuple2 still refers to the original tuple.

For a string or tuple, the item to the right of += must be a string or tuple, respectively—
mixing types causes a `TypeError`.

 

### Appending Tuples to Lists

You can use += to append a tuple to a list:

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers += (6, 7)

In [ ]:
numbers

   

### Tuples May Contain Mutable Objects

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [ ]:
student_tuple[2][1] = 85

In [ ]:
student_tuple

# Unpacking Sequences

You can unpack any sequence’s
elements by assigning the sequence to a comma-separated
list of variables. A
`ValueError` occurs if the number of variables to the left of the assignment symbol is
not identical to the number of elements in the sequence on the right.

In [67]:
student_tuple = ('Amanda', [98, 85, 87])

In [68]:
first_name, grades = student_tuple

In [69]:
first_name

'Amanda'

In [70]:
grades

[98, 85, 87]

In [71]:
first, second = 'hi'

In [72]:
print(f'{first}  {second}')

h  i

In [73]:
number1, number2, number3 = [2, 3, 5]

In [74]:
print(f'{number1}  {number2}  {number3}')

2  3  5

In [75]:
number1, number2, number3 = range(10, 40, 10)

In [76]:
print(f'{number1}  {number2}  {number3}')

10  20  30

### Swapping Values Via Packing and Unpacking

You can swap two variables’ values using sequence packing and unpacking.

In [77]:
number1 = 99

In [78]:
number2 = 22

In [79]:
number1, number2 = (number2, number1)

In [80]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

### Accessing Indices and Values Safely with Built-in Function enumerate

Earlier, we called `range` to produce a sequence of index values, then accessed list
elements in a for loop using the index values and the subscription operator (`[]`). This
is error-prone
because you could pass the wrong arguments to `range`. If any value
produced by `range` is an out-of-bounds
index, using it as an index causes an
`IndexError`.

The preferred mechanism for accessing an element’s index and value is the builtin
function `enumerate`. This function receives an iterable and creates an iterator that, for
each element, returns a tuple containing the element’s index and value. The following
code uses the builtin
function list to create a list containing enumerate’s results:

In [81]:
colors = ['red', 'orange', 'yellow']

In [82]:
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [83]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [84]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

### Creating a Primitive Bar Chart

The following script creates a primitive bar chart where each bar’s length is made of
asterisks (*) and is proportional to the list’s corresponding element value. We use the
function `enumerate` to access the list’s indices and values safely.

In [85]:
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

# Sequence Slicing

You can slice sequences to create new sequences of the same type containing subsets of
the original elements. Slice operations can modify mutable sequences—those that do
not modify a sequence work identically for lists, tuples and strings.

### Specifying a Slice with Starting and Ending Indices

In [86]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [87]:
numbers[2:6]

[5, 7, 11, 13]

The original list is not
modified.

### Specifying a Slice with Only an Ending Index

Compare both outputs, what can you deduce ?

In [88]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [89]:
numbers[0:6]

[2, 3, 5, 7, 11, 13]

### Specifying a Slice with Only a Starting Index

Compare both outputs, what can you deduce ?

In [90]:
numbers[6:]

[17, 19]

In [91]:
numbers[6:len(numbers)]

[17, 19]

### Specifying a Slice with No Indices

Omitting both the start and end indices copies the entire sequence.

In [92]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

Though slices create new objects, slices make shallow copies of the elements—that is,
they copy the elements’ references but not the objects they point to. So, in the snippet
above, the new list’s elements refer to the same objects as the original list’s elements,
rather than to separate copies.

### Slicing with Steps

In [93]:
numbers[::2]

[2, 5, 11, 17]

### Slicing with Negative Indices and Steps

You can use a negative step to select slices in reverse order.

In [94]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [95]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

### Modifying Lists Via Slices

You can modify a list by assigning to a slice of it—the rest of the list is unchanged.

In [96]:
numbers[0:3] = ['two', 'three', 'five']

In [97]:
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [98]:
numbers[0:3] = []

In [99]:
numbers

[7, 11, 13, 17, 19]

In [100]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [102]:
numbers[::2] = [100, 100, 100, 100]

In [103]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [104]:
id(numbers)

2055593184576

In [105]:
numbers[:] = []

In [106]:
numbers

[]

In [107]:
id(numbers)

2055593184576

In [ ]:
numbers = []

In [ ]:
numbers

In [ ]:
id(numbers)

#  del Statement

The del statement also can be used to remove elements from a list and to delete
variables from the interactive session. You can remove the element at any valid index or
the element(s) from any valid slice.

### Deleting the Element at a Specific List Index

In [108]:
numbers = list(range(0, 10))

In [109]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
del numbers[-1]

In [111]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Deleting a Slice from a List

In [112]:
del numbers[0:2]

In [113]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [114]:
del numbers[::2]

In [115]:
numbers

[3, 5, 7]

### Deleting a Slice Representing the Entire List

In [116]:
del numbers[:]

In [117]:
numbers

[]

### Deleting a Variable from the Current Session

In [118]:
del numbers

In [119]:
numbers

NameError: name 'numbers' is not defined

#  Passing Lists to Functions

### Passing an Entire List to a Function

In [120]:
def modify_elements(items):
    """"Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2

In [121]:
numbers = [10, 3, 7, 1, 9]

In [122]:
modify_elements(numbers)

In [123]:
numbers

[20, 6, 14, 2, 18]

### Passing a Tuple to a Function

In [124]:
numbers_tuple = (10, 20, 30)

In [125]:
numbers_tuple

(10, 20, 30)

In [126]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

### A Note Regarding Tracebacks

The previous traceback shows the two snippets that led to the TypeError. The first is
snippet [7]’s function call. The second is snippet [1]’s function definition. Line
numbers precede each snippet’s code. We’ve demonstrated mostly single-line
snippets.
When an exception occurs in such a snippet, it’s always preceded by ---->
1,
indicating that line 1 (the snippet’s only line) caused the exception. Multiline snippets
like the definition of modify_elements show consecutive line numbers starting at 1.
The notation ---->
4 above indicates that the exception occurred in line 4 of
modify_elements. No matter how long the traceback is, the last line of code with ---->
caused the exception.

# Sorting Lists

### Sorting a List in Ascending Order

List method `sort` modifies a list to arrange its elements in ascending order.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
numbers.sort()

In [ ]:
numbers

### Sorting a List in Descending Order

To sort a list in descending order, call list method `sort` with the optional keyword
argument **reverse** set
to `True` (`False` is the default)

In [ ]:
numbers.sort(reverse=True)

In [ ]:
numbers

### Built-In Function `sorted`

Builtin
function `sorted` returns a **new** list containing the sorted elements of its
argument sequence—the original sequence is unmodified.

In [127]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [128]:
ascending_numbers = sorted(numbers)

In [129]:
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [131]:
letters = 'fadgchjebi'

In [132]:
ascending_letters = sorted(letters)

In [133]:
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [134]:
letters

'fadgchjebi'

In [135]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

In [136]:
ascending_colors = sorted(colors)

In [137]:
ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [138]:
colors

('red', 'orange', 'yellow', 'green', 'blue')

# Searching Sequences

Often, you’ll want to determine whether a sequence (such as a list, tuple or string)
contains a value that matches a particular key value. Searching is the process of
locating a key.

### List Method index

List method index takes as an argument a search key—the value to locate in the list—
then searches through the list from index 0 and returns the index of the first element
that matches the search key.

In [140]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

In [141]:
numbers.index(5)

6

### Specifying the Starting Index of a Search

In [142]:
numbers *= 2

*= to multiply a sequence—that is, append a sequence to itself multiple
times.

In [143]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

The following code searches the updated list for the value 5 starting from index 7 and
continuing through the end of the list.

In [ ]:
numbers.index(5, 7)

### Specifying the Starting and Ending Indices of a Search

Specifying the starting and ending indices causes index to search from the starting
index up to but not including the ending index location.

In [ ]:
numbers.index(7, 0, 4)

In [ ]:
numbers.index(7, 0, len(numbers))

### Operators `in` and `not in`

In [144]:
1000 in numbers

False

In [145]:
5 in numbers

True

In [146]:
1000 not in numbers

True

In [147]:
5 not in numbers

False

### Using Operator `in` to Prevent a `ValueError`

You can use the operator in to ensure that calls to method index do not result in
`ValueErrors` for search keys that are not in the corresponding sequence.

In [149]:
key = 1000

In [150]:
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

1000 not found

### Built-In Functions `any` and `all`

Sometimes you simply need to know whether any item in an iterable is `True` or
whether all the items are `True`. The built-in
function `any` returns `True` if any item in
its iterable argument is `True`. The built-in
function `all` returns `True` if all items in its
iterable argument are `True`. Recall that nonzero values are `True` and 0 is `False`. Non-empty
iterable objects also evaluate to `True`, whereas any empty iterable evaluates to
`False`. Functions any and all are additional examples of internal iteration in
functional-style
programming.

#  Other List Methods

In [151]:
color_names = ['orange', 'yellow', 'green']

### Inserting an Element at a Specific List Index

Method insert adds a new item at a specified index.

In [152]:
color_names.insert(0, 'red')

In [153]:
color_names

['red', 'orange', 'yellow', 'green']

### Adding an Element to the End of a List

You can add a new item to the end of a list with method `append`.

In [155]:
color_names.append('blue')

In [156]:
color_names

['red', 'orange', 'yellow', 'green', 'indigo', 'violet', 'blue']

### Adding All the Elements of a Sequence to the End of a List

Use list method `extend` to add all the elements of another sequence to the end of a list.

In [157]:
color_names.extend(['indigo', 'violet'])

In [158]:
color_names

['red',
 'orange',
 'yellow',
 'green',
 'indigo',
 'violet',
 'blue',
 'indigo',
 'violet']

In [159]:
sample_list = []

In [160]:
s = 'abc'

In [161]:
sample_list.extend(s)

In [162]:
sample_list

['a', 'b', 'c']

In [163]:
t = (1, 2, 3)

In [164]:
sample_list.extend(t)

In [165]:
sample_list

['a', 'b', 'c', 1, 2, 3]

In [166]:
sample_list.extend((4, 5, 6))  # note the extra parentheses

In [167]:
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

### Removing the First Occurrence of an Element in a List

Method `remove` deletes the first element with a specified value—a `ValueError` occurs
if remove’s argument is not in the list.

In [ ]:
color_names.remove('green')

In [ ]:
color_names

### Emptying a List

To delete all the elements in a list, call method `clear`.

In [168]:
color_names.clear()

In [ ]:
color_names

Reinitialize color_names to some values, then run the following codes. Deduce.

In [172]:
color_names = ['potato', 'pussy', 'puh', 'diguh']

In [173]:
color_names[:] = []

In [174]:
color_names

[]

### Counting the Number of Occurrences of an Item

List method `count` searches for its argument and returns the number of times it is
found.

In [175]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [176]:
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

### Reversing a List’s Elements

List method reverse reverses the contents of a list in place, rather than creating a
reversed copy, as we did with a slice previously.

In [177]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

In [178]:
color_names.reverse()

In [179]:
color_names

['blue', 'green', 'yellow', 'orange', 'red']

### Copying a List

List method copy returns a new list containing a shallow copy of the original list.

In [180]:
copied_list = color_names.copy()

In [181]:
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

#  List Comprehensions

List comprehensions can replace
many for statements that iterate over existing sequences and create new lists.

In [182]:
list1 = []

In [183]:
for item in range(1, 6):
    list1.append(item)

In [184]:
list1

[1, 2, 3, 4, 5]

### Using a List Comprehension to Create a List of Integers

We can accomplish the same task in a single line of code with a list comprehension.

In [185]:
list2 = [item for item in range(1, 6)]

In [186]:
list2

[1, 2, 3, 4, 5]

### Mapping: Performing Operations in a List Comprehension’s Expression

A list comprehension’s expression can perform tasks, such as calculations, that **map**
elements to new values (possibly of different types). Mapping is a common functionalstyle
programming operation that produces a result with the same number of elements
as the original data being mapped.

In [ ]:
list3 = [item ** 3 for item in range(1, 6)]

In [ ]:
list3

### Filtering: List Comprehensions with `if` Clauses

Another common functional-style
programming operation is **filtering** elements to
select only those that match a condition. This typically produces a list with fewer
elements than the data being filtered. To do this in a list comprehension, use the **if clause**.

In [ ]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [ ]:
list4

### List Comprehension That Processes Another List’s Elements

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
colors2 = [item.upper() for item in colors]

In [ ]:
colors2

In [ ]:
colors

# Generator Expressions

A **generator expression** is similar to a list comprehension, but creates an **iterable generator** object that produces values on demand. This is known as **lazy evaluation**. List comprehensions use greedy evaluation—they create lists
immediately when you execute them. For large numbers of items, creating a list can
take substantial memory and time. So generator expressions can reduce your program’s
memory consumption and improve performance if the whole list is not needed at once.

Generator expressions have the same capabilities as list comprehensions, but you
define them in parentheses instead of square brackets.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

In [ ]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [ ]:
squares_of_odds

# Lambdas

## Lambdas are single-expression functions

The `lambda` keyword in Python provides a shortcut for declaring
small anonymous functions. Lambda functions behave just like
regular functions declared with the def keyword. They can be used
whenever function objects are required

For example, this is how you’d define a simple lambda function carrying
out an addition:

In [ ]:
add = lambda x, y: x + y
add(5, 3)

You could declare the same `add` function with the `def` keyword, but it
would be slightly more verbose:

In [ ]:
def add(x, y):
  return x + y
add(5, 3)

Now you might be wondering, “Why the big fuss about lambdas? If
they’re just a slightly more concise version of declaring functions with
def, what’s the big deal?”

Take a look at the following example and keep the words *function expression*
in your head while you do that:

In [ ]:
(lambda x, y: x + y)(5, 3)

Conceptually, the lambda expression `lambda x, y: x + y` is the
same as declaring a function with `def`, but just written **inline**. The
key difference here is that I didn’t have to bind the function object to
a name before I used it. I simply stated the expression I wanted to
compute as part of a lambda, and then immediately evaluated it by
calling the lambda expression like a regular function.

There’s another syntactic difference between lambdas and regular
function definitions. Lambda functions are restricted to a single
expression. This means a lambda function can’t use statements or
annotations—not even a `return` statement.

How do you return values from lambdas then? Executing a lambda
function evaluates its expression and then automatically returns
the expression’s result, so there’s always an implicit return statement.
That’s why some people refer to lambdas as single expression
functions.

#  Filter, Map and Reduce

The preceding section introduced several functional-style
features—list
comprehensions, filtering and mapping. Here we demonstrate the built-in
filter and
map functions for filtering and mapping, respectively. We continue discussing
reductions in which you process a collection of elements into a single value, such as
their count, total, product, average, minimum or maximum.

### Filtering a Sequence’s Values with the Built-In `filter` Function

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [ ]:
list(filter(is_odd, numbers))

Functions that receive other functions as
arguments are a functional-style
capability called higherorder
functions. For
example, filter’s first argument must be a function that receives one argument and
returns `True` if the value should be included in the result. The function `is_odd` returns
`True` if its argument is `odd`. The `filter` function calls `is_odd` once for each value in
its second argument’s iterable (numbers). Higher-order
functions may also return a
function as a result.

Function `filter` returns an iterator, so filter’s results are not produced until you
iterate through them. This is another example of lazy evaluation.

We can
obtain the same results as above by using a list comprehension with an if clause.

In [ ]:
[item for item in numbers if is_odd(item)]

### Using a `lambda` Rather than a Function

For simple functions like `is_odd` that return only a single expression’s value, you can
use a lambda expression (or simply a lambda) to define the function inline where
it’s needed.

In [ ]:
list(filter(lambda x: x % 2 != 0, numbers))

### Mapping a Sequence’s Values to New Values

Function map’s first argument is a function that receives one value and returns a new
value—in this case, a lambda. The second argument is an
iterable of values to map. Function map uses lazy evaluation. So, we pass to the list
function the iterator that map returns. This enables us to iterate through and create a
list of the mapped values.

In [ ]:
numbers

In [ ]:
list(map(lambda x: x ** 2, numbers))

An equivalent list comprehension

In [ ]:
[item ** 2 for item in numbers]

### Combining `filter` and `map`

In [ ]:
list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 != 0, numbers)))

In [ ]:
[x ** 2 for x in numbers if x % 2 != 0]

# Lambdas you can use

When should you use lambda functions in your code? Technically, any
time you’re expected to supply a function object you can use a lambda
expression. And because lambdas can be anonymous, you don’t even
need to assign them to a name first.

This can provide a handy and “unbureaucratic” shortcut to defining a
function in Python. The most frequent use case for lambdas is writing
short and concise key funcs for sorting iterables by an alternate key:

In [ ]:
tuples = [(1, 'd'), (2, 'b'), (4, 'a'), (3, 'c')]
sorted(tuples, key=lambda x: x[1])

In the above example, we’re sorting a list of tuples by the second value
in each tuple. In this case, the lambda function provides a quick way
to modify the sort order. Here’s another sorting example you can play
with:

In [ ]:
sorted(range(-5, 6), key=lambda x: x * x)

Here’s another interesting thing about lambdas: Just like regular
nested functions, lambdas also work as *lexical closures*.

What’s a lexical closure? It’s just a fancy name for a function that
remembers the values from the enclosing lexical scope even when the
program flow is no longer in that scope. Here’s a (fairly academic)
example to illustrate the idea:

In [ ]:
def make_adder(n):
  return lambda x: x + n
plus_3 = make_adder(3)
plus_5 = make_adder(5)

In [ ]:
plus_3(4)

In [ ]:
plus_5(4)

In the above example, the x + n lambda can still access the value of n
even though it was defined in the make_adder function (the enclosing
scope).

Sometimes, using a lambda function instead of a nested function
declared with the def keyword can express the programmer’s intent
more clearly.

**Lambda functions should be used sparingly
and with extraordinary care.**

Usually it’s much cleaner to go with a list
comprehension or generator expression.

In [ ]:
# Harmful:
list(filter(lambda x: x % 2 == 0, range(16)))

In [ ]:
# Better:
[x for x in range(16) if x % 2 == 0]

If you find yourself doing anything remotely complex with lambda
expressions, consider defining a standalone function with a proper
name instead.

Saving a few keystrokes won’t matter in the long run, but your colleagues
(and your future self) will appreciate clean and readable code
more than terse wizardry.

# Other Sequence Processing Functions

Python provides other builtin
functions for manipulating sequences.

### Finding the Minimum and Maximum Values Using a Key Function

In [ ]:
'Red' < 'orange'

The built-in function
`ord` returns the numerical value of a character.

In [ ]:
ord('R')

In [ ]:
ord('o')

In [ ]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

Since Python compares strings using numerical values, you must first convert each
string to all lowercase or all uppercase letters. Then their numerical values will also
represent alphabetical ordering.

In [ ]:
min(colors, key=lambda s: s.lower())

In [ ]:
max(colors, key=lambda s: s.lower())

### Iterating Backwards Through a Sequence

Builtin
function `reversed` returns an iterator that enables you to iterate over a
sequence’s values backward.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
reversed_numbers = [item ** 2 for item in reversed(numbers)]

In [ ]:
reversed_numbers

### Combining Iterables into Tuples of Corresponding Elements

Builtin
function `zip` enables you to iterate over multiple iterables of data at the same
time. The function receives as arguments any number of iterables and returns an
iterator that produces tuples containing the elements at the same index in each.

In [ ]:
names = ['Bob', 'Sue', 'Amanda']

In [ ]:
grade_point_averages = [3.5, 4.0, 3.75]

In [ ]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

#  Two-Dimensional Lists

Lists can contain other lists as elements. A typical use of such nested (or
multidimensional) lists is to represent tables of values consisting of information
arranged in rows and columns. To identify a particular table element, we specify two
indices—by convention, the first identifies the element’s row, the second the element’s
column.
Lists that require two indices to identify an element are called two-dimensional
lists
(or double-indexed
lists or double-subscripted
lists). Multidimensional lists can
have more than two indices.

### Creating a Two-Dimensional List

In [ ]:
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

### Identifying the Elements in a Two-Dimensional List

In [ ]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

### How the Nested Loops Execute

In [ ]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

# Intro to Data Science: Simulation and Static Visualizations

## Visualizing Die-Roll Frequencies and Percentages

### Importing the Libraries

Note: `%matplotlib inline` is an IPython magic that enables Matplotlib-based graphics to be displayed directly in the notebook. Also, to ensure that all visualization operations are applied properly to a visualization in a notebook, you need to execute them in a single cell, so the snippet numbers in this notebook will not match up with the code in the book.

We've separated by two blank lines the snippets that were combined into a single cell.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

In [ ]:
import random

In [ ]:
import seaborn as sns

1. The `matplotlib.pyplot` module contains the Matplotlib library’s graphing
capabilities that we use. This module typically is imported with the name plt.
2. The `NumPy` (Numerical Python) library includes the function unique that we’ll use
to summarize the die rolls. The `numpy` module typically is imported as np.
3. The `random` module contains Python’s random-number-generation
functions.
4. The `seaborn` module contains the Seaborn library’s graphing capabilities we use.
This module typically is imported with the name sns.

### Rolling the Die and Calculating Die Frequencies

Next, let’s use a list comprehension to create a list of 600 random die values, then use
NumPy’s unique function to determine the unique roll values (most likely all six
possible face values) and their frequencies:

In [ ]:
rolls = [random.randrange(1, 7) for i in range(600)]

In [ ]:
values, frequencies = np.unique(rolls, return_counts=True)

### Creating the Initial Bar Plot
### Setting the Window Title and Labeling the x- and y-Axes
### Finalizing the Bar Plot

In [ ]:
title = f'Rolling a Six-Sided Die {len(rolls):,} Times'


sns.set_style('whitegrid')


axes = sns.barplot(x=values, y=frequencies, palette='bright')


axes.set_title(title)


axes.set(xlabel='Die Value', ylabel='Frequency')  


axes.set_ylim(top=max(frequencies) * 1.10)


for bar, frequency in zip(axes.patches, frequencies):
    text_x = bar.get_x() + bar.get_width() / 2.0  
    text_y = bar.get_height() 
    text = f'{frequency:,}\n{frequency / len(rolls):.3%}'
    axes.text(text_x, text_y, text, 
              fontsize=11, ha='center', va='bottom')