# Introduction

The `NumPy` (Numerical Python) library first appeared in 2006 and is the preferred
Python array implementation. It offers a high-performance,
richly functional ndimensional
array type called `ndarray`, which from this point forward we’ll refer to by
its synonym, array. NumPy is one of the many opensource
libraries that the
Anaconda Python distribution installs. Operations on arrays are up to two orders of magnitude faster than those on lists.

# Creating `arrays` from Existing Data

The NumPy documentation recommends importing the numpy module as np so that
you can access its members with "np."

In [1]:
import numpy as np

The numpy module provides various functions for creating arrays. Here we use the
array function, which receives as an argument an array or other collection of
elements and returns a new array containing the argument’s elements.

In [ ]:
numbers = np.array([2, 3, 5, 7, 11])

In [ ]:
type(numbers)

In [ ]:
numbers

### Multidimensional Arguments

The array function copies its argument’s dimensions.

In [ ]:
np.array([[1, 2, 3], [4, 5, 6]])

#  `array` Attributes

An array object provides attributes that enable you to discover information about its
structure and contents.

In [ ]:
import numpy as np

In [ ]:
integers = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
integers

In [ ]:
floats = np.array([0.0, 0.1, 0.2, 0.3, 0.4])

In [ ]:
floats

### Determining an `array`’s Element Type

The array function determines an array’s element type from its argument’s elements.
You can check the element type with an array’s `dtype` attribute.

In [ ]:
integers.dtype

In [ ]:
floats.dtype

### Determining an `array`’s Dimensions

The attribute `ndim` contains an array’s number of dimensions and the attribute
`shape` contains a tuple specifying an array’s dimensions.

In [ ]:
integers.ndim

In [ ]:
floats.ndim

In [ ]:
integers.shape

In [ ]:
floats.shape

### Determining an `array`’s Number of Elements and Element Size

You can view an array’s total number of elements with the attribute `size` and the
number of bytes required to store each element with `itemsize`.

In [ ]:
integers.size

In [ ]:
integers.itemsize

In [ ]:
floats.size

In [ ]:
floats.itemsize

### Iterating through a Multidimensional `array`’s Elements

In [ ]:
for row in integers:
    for column in row:
        print(column, end='  ')
    print()

In [ ]:
for i in integers.flat:
    print(i, end='  ')

#  Filling `array`s with Specific Values

NumPy provides functions `zeros`, `ones` and `full` for creating arrays containing 0s,
1s or a specified value, respectively. By default, zeros and ones create arrays
containing float64 values. We’ll show how to customize the element type
momentarily. The first argument to these functions must be an integer or a tuple of
integers specifying the desired dimensions. For an integer, each function returns a one-dimensional
array with the specified number of elements.

In [ ]:
import numpy as np

In [ ]:
np.zeros(5)

In [ ]:
np.ones((2, 4), dtype=int)

In [ ]:
np.full((3, 5), 13)

#  Creating `array`s from Ranges

NumPy provides optimized functions for creating arrays from ranges.

### Creating Integer Ranges with `arange`

Let’s use NumPy’s `arange` function to create integer ranges—similar to using builtin
function range. In each case, arange first determines the resulting array’s number
of elements, allocates the memory, then stores the specified range of values in the
array.

In [ ]:
import numpy as np

In [ ]:
np.arange(5)

In [ ]:
np.arange(5, 10)

In [ ]:
np.arange(10, 1, -2)

Though you can create arrays by passing ranges as arguments, always use arange
as it’s optimized for arrays.

### Creating Floating-Point Ranges with `linspace`

You can produce evenly spaced floating-point
ranges with NumPy’s `linspace`
function. The function’s first two arguments specify the starting and ending values in
the range, and the ending value is included in the array. The optional keyword
argument num specifies the number of evenly spaced values to produce—this
argument’s default value is 50.

In [ ]:
np.linspace(0.0, 1.0, num=5)

### Reshaping an `array`

You also can create an array from a range of elements, then use array method
`reshape` to transform the one-dimensional
array into a multi-dimensional array.

In [ ]:
np.arange(1, 21).reshape(4, 5)

### Displaying Large `array`s

When displaying an array, if there are 1000 items or more, NumPy drops the middle
rows, columns or both from the output.

In [ ]:
np.arange(1, 100001).reshape(4, 25000)

In [ ]:
np.arange(1, 100001).reshape(100, 1000)

#  List vs. `array` Performance: Introducing `%timeit`

Most array operations execute significantly faster than corresponding list operations.

### Timing the Creation of a List Containing Results of 6,000,000 Die Rolls

In [ ]:
import random

In [ ]:
%timeit rolls_list = \
   [random.randrange(1, 7) for i in range(0, 6_000_000)]

### Timing the Creation of an `array` Containing Results of 6,000,000 Die Rolls

In [ ]:
import numpy as np

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 6_000_000)

### 60,000,000 and 600,000,000 Die Rolls

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 60_000_000)

In [ ]:
%timeit rolls_array = np.random.randint(1, 7, 600_000_000)

### Customizing the %timeit Iterations

In [ ]:
%timeit -n3 -r2 rolls_array = np.random.randint(1, 7, 6_000_000)

#  `array` Operators

### Arithmetic Operations with `array`s and Individual Numeric Values

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

In [ ]:
numbers * 2

In [ ]:
numbers ** 3

In [ ]:
numbers  # numbers is unchanged by the arithmetic operators

In [ ]:
numbers += 10

In [ ]:
numbers

### Broadcasting

Normally, the arithmetic operations require as operands two arrays of the same size
and shape. When one operand is a single value, called a scalar, NumPy performs the
element-wise
calculations as if the scalar were an array of the same shape as the other
operand, but with the scalar value in all its elements. This is called **broadcasting**.

### Arithmetic Operations Between `array`s

In [ ]:
numbers2 = np.linspace(1.1, 5.5, 5)

In [ ]:
numbers2

In [ ]:
numbers * numbers2

### Comparing arrays

In [ ]:
numbers

In [ ]:
numbers >= 13

In [ ]:
numbers2

In [ ]:
numbers2 < numbers

In [ ]:
numbers == numbers2

In [ ]:
numbers == numbers

#  NumPy Calculation Methods

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90],
                   [94, 77, 90], [100, 81, 82]])

In [ ]:
grades

In [ ]:
grades.sum()

In [ ]:
grades.min()

In [ ]:
grades.max()

In [ ]:
grades.mean()

In [ ]:
grades.std()

In [ ]:
grades.var()

### Calculations by Row or Column

In [ ]:
grades.mean(axis=0)

In [ ]:
grades.mean(axis=1)

###  Universal Functions

NumPy offers dozens of standalone **universal functions **(or **ufuncs**) that perform
various element-wise
operations. Each performs its task using one or two array or
array-like
(such as lists) arguments. Some of these functions are called when you use
operators like + and * on arrays. Each returns a new array containing the results.

In [ ]:
import numpy as np

In [ ]:
numbers = np.array([1, 4, 9, 16, 25, 36])

In [ ]:
np.sqrt(numbers)

In [ ]:
numbers2 = np.arange(1, 7) * 10

In [ ]:
numbers2

In [ ]:
np.add(numbers, numbers2)

### Broadcasting with Universal Functions

In [ ]:
np.multiply(numbers2, 5)

In [ ]:
numbers3 = numbers2.reshape(2, 3)

In [ ]:
numbers3

In [ ]:
numbers4 = np.array([2, 4, 6])

In [ ]:
np.multiply(numbers3, numbers4)

### Other Universal Functions

Refer to https://numpy.org/doc/stable/reference/ufuncs.html

#  Indexing and Slicing

### Indexing with Two-Dimensional `array`s

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90],
                   [94, 77, 90], [100, 81, 82]])

In [ ]:
grades

In [ ]:
grades[0, 1]  # row 0, column 1

### Selecting a Subset of a Two-Dimensional `array`’s Rows

In [ ]:
grades[1]

In [ ]:
grades[0:2]

In [ ]:
grades[[1, 3]]

### Selecting a Subset of a Two-Dimensional `array`’s Columns

In [ ]:
grades[:, 0]

In [ ]:
grades[:, 1:3]

In [ ]:
grades[:, [0, 2]]

#  Views: Shallow Copies

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

In [ ]:
numbers2 = numbers.view()

In [ ]:
numbers2

In [ ]:
id(numbers)

In [ ]:
id(numbers2)

In [ ]:
numbers[1] *= 10

In [ ]:
numbers2

In [ ]:
numbers

In [ ]:
numbers2[1] /= 10

In [ ]:
numbers

In [ ]:
numbers2

### Slice Views

In [ ]:
numbers2 = numbers[0:3]

In [ ]:
numbers2

In [ ]:
id(numbers)

In [ ]:
id(numbers2)

In [ ]:
numbers2[3]

In [ ]:
numbers[1] *= 20

In [ ]:
numbers

In [ ]:
numbers2

#  Deep Copies

In [ ]:
import numpy as np

In [ ]:
numbers = np.arange(1, 6)

In [ ]:
numbers

In [ ]:
numbers2 = numbers.copy()

In [ ]:
numbers2

In [ ]:
numbers[1] *= 10

In [ ]:
numbers

In [ ]:
numbers2

### Module `copy`—Shallow vs. Deep Copies for Other Types of Python Objects

If you need deep copies of other
types of Python objects, pass them to the `copy` module’s `deepcopy` function.

#  Reshaping and Transposing

NumPy provides various other ways to reshape arrays.

### `reshape` vs. `resize`

In [ ]:
import numpy as np

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [ ]:
grades

The array methods reshape and resize both enable you to change an array’s
dimensions. Method reshape returns a view (shallow copy) of the original array with
the new dimensions. It does not modify the original array.

In [ ]:
grades.reshape(1, 6)

In [ ]:
grades

Method resize modifies the original array’s shape.

In [ ]:
grades.resize(1, 6)

In [ ]:
grades

### `flatten` vs. `ravel`

In [ ]:
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [ ]:
grades

You can take a multidimensional array and flatten it into a single dimension with the
methods flatten and ravel. Method flatten deep copies the original array’s data.

In [ ]:
flattened = grades.flatten()

In [ ]:
flattened

In [ ]:
grades

In [ ]:
flattened[0] = 100

In [ ]:
flattened

In [ ]:
grades

Method ravel produces a view of the original array, which shares the grades
array’s data.

In [ ]:
raveled = grades.ravel()

In [ ]:
raveled

In [ ]:
grades

In [ ]:
raveled[0] = 100

In [ ]:
raveled

In [ ]:
grades

### Transposing Rows and Columns

You can quickly transpose an array’s rows and columns—that is “flip” the array, so
the rows become the columns and the columns become the rows. The T attribute
returns a transposed view (shallow copy) of the array.

In [ ]:
grades.T

In [ ]:
grades

### Horizontal and Vertical Stacking

In [ ]:
grades2 = np.array([[94, 77, 90], [100, 81, 82]])

In [ ]:
np.hstack((grades, grades2))

In [ ]:
np.vstack((grades, grades2))

#  Pandas `Series` and xxx

NumPy’s array is optimized for homogeneous numeric data that’s accessed via integer
indices. Data science presents unique demands for which more customized data
structures are required. Big data applications must support mixed data types,
customized indexing, missing data, data that’s not structured consistently and data that needs to be manipulated into forms appropriate for the databases and data analysis
packages you use.

Pandas is the most popular library for dealing with such data. It provides two key
collections—`Series` for one-dimensional
collections and
`DataFrames` for two-dimensional
collections. You can use pandas’ `MultiIndex` to
manipulate multi-dimensional
data in the context of Series and DataFrames.

## pandas `Series`

A **Series** is an enhanced one-dimensional
array. Whereas arrays use only zero-based
integer indices, Series support custom indexing, including even non-integer
indices like strings. Series also offer additional capabilities that make them more convenient for many datascience
oriented tasks. For example, Series may have
missing data, and many Series operations ignore missing data by default.

### Creating a `Series` with Default Indices

By default, a Series has integer indices numbered sequentially from 0.

In [2]:
import pandas as pd

In [3]:
grades = pd.Series([87, 100, 94])

### Displaying a `Series`

Pandas displays a Series in twocolumn
format with the indices left aligned in the left
column and the values right aligned in the right column. After listing the Series
elements, pandas shows the data type (dtype) of the underlying array’s elements.

In [4]:
grades

0     87
1    100
2     94
dtype: int64

### Creating a `Series` with All Elements Having the Same Value

In [5]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

### Accessing a `Series`’ Elements

In [6]:
grades[0]

87

### Producing Descriptive Statistics for a `Series`

In [7]:
grades.count()

3

In [8]:
grades.mean()

93.66666666666667

In [9]:
grades.min()

87

In [10]:
grades.max()

100

In [11]:
grades.std()

6.506407098647712

In [12]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

### Creating a `Series` with Custom Indices

You can specify custom indices with the `index` keyword argument.

In [13]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])

In [14]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

### Dictionary Initializers

If you initialize a Series with a dictionary, its keys become the Series’ indices, and
its values become the Series’ element values.

In [15]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [16]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

### Accessing a `Series`’ Elements Via Custom Indices

In [17]:
grades['Eva']

100

If the custom indices are strings that could represent valid Python identifiers, pandas
automatically adds them to the Series as attributes that you can access via a dot (.).

In [18]:
grades.Wally

87

In [19]:
grades.dtype

dtype('int64')

In [20]:
grades.values

array([ 87, 100,  94], dtype=int64)

### Creating a Series of Strings

If a Series contains strings, you can use its `str` attribute to call string methods on
the elements.

In [21]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])

In [22]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [23]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [24]:
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object

#  `DataFrame`s

A `DataFrame` is an enhanced two-dimensional
array. Like Series, DataFrames can
have custom row and column indices, and offer additional operations and capabilities
that make them more convenient for many data-science
oriented tasks. DataFrames
also support missing data. Each column in a DataFrame is a Series. The Series
representing each column may contain different element types.

### Creating a `DataFrame` from a Dictionary

In [25]:
import pandas as pd

In [26]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}

In [27]:
grades = pd.DataFrame(grades_dict)

In [28]:
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

### Customizing a `DataFrame`’s Indices with the `index` Attribute

```python
pd.DataFrame(grades_dict, index=['Test1', 'Test2', 'Test3'])
```

In [29]:
grades.index = ['Test1', 'Test2', 'Test3']

In [30]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

### Accessing a `DataFrame`’s Columns

In [31]:
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

In [32]:
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

### Selecting Rows via the `loc` and `iloc` Attributes

In [33]:
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

In [34]:
grades.iloc[1]

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64

### Selecting Rows via Slices and Lists with the `loc` and `iloc` Attributes

In [35]:
grades.loc['Test1':'Test3']

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [36]:
grades.iloc[0:2]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

In [37]:
grades.loc[['Test1', 'Test3']]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

In [38]:
grades.iloc[[0, 2]]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

### Selecting Subsets of the Rows and Columns

In [39]:
grades.loc['Test1':'Test2', ['Eva', 'Katie']]

       Eva  Katie
Test1  100    100
Test2   87     81

In [ ]:
grades.iloc[[0, 2], 0:3]

### Boolean Indexing

In [40]:
grades[grades >= 90]

       Wally    Eva   Sam  Katie  Bob
Test1    NaN  100.0  94.0  100.0  NaN
Test2   96.0    NaN   NaN    NaN  NaN
Test3    NaN   90.0  90.0    NaN  NaN

In [41]:
grades[(grades >= 80) & (grades < 90)]

       Wally   Eva  Sam  Katie   Bob
Test1   87.0   NaN  NaN    NaN  83.0
Test2    NaN  87.0  NaN   81.0   NaN
Test3    NaN   NaN  NaN   82.0  85.0

### Accessing a Specific `DataFrame` Cell by Row and Column

In [42]:
grades.at['Test2', 'Eva']

87

In [43]:
grades.iat[2, 0]

70

In [44]:
grades.at['Test2', 'Eva'] = 100

In [45]:
grades.at['Test2', 'Eva']

100

In [46]:
grades.iat[1, 1] = 87

In [47]:
grades.iat[1, 1]

87

### Descriptive Statistics

In [48]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   92.333333  87.000000   87.666667  77.666667
std    13.203535    6.806859   8.888194   10.692677  11.015141
min    70.000000   87.000000  77.000000   81.000000  65.000000
25%    78.500000   88.500000  83.500000   81.500000  74.000000
50%    87.000000   90.000000  90.000000   82.000000  83.000000
75%    91.500000   95.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [50]:
pd.set_option('precision', 2)

OptionError: Pattern matched multiple keys

In [51]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   92.333333  87.000000   87.666667  77.666667
std    13.203535    6.806859   8.888194   10.692677  11.015141
min    70.000000   87.000000  77.000000   81.000000  65.000000
25%    78.500000   88.500000  83.500000   81.500000  74.000000
50%    87.000000   90.000000  90.000000   82.000000  83.000000
75%    91.500000   95.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [52]:
grades.mean()

Wally    84.333333
Eva      92.333333
Sam      87.000000
Katie    87.666667
Bob      77.666667
dtype: float64

### Transposing the `DataFrame` with the `T` Attribute

In [ ]:
grades.T

In [53]:
grades.T.describe()

            Test1     Test2      Test3
count    5.000000   5.00000   5.000000
mean    92.800000  81.20000  83.400000
std      7.661593  11.54123   8.234076
min     83.000000  65.00000  70.000000
25%     87.000000  77.00000  82.000000
50%     94.000000  81.00000  85.000000
75%    100.000000  87.00000  90.000000
max    100.000000  96.00000  90.000000

In [54]:
grades.T.mean()

Test1    92.8
Test2    81.2
Test3    83.4
dtype: float64

### Sorting By Rows by Their Indices

In [55]:
grades.sort_index(ascending=False)

       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83

### Sorting By Column Indices

In [56]:
grades.sort_index(axis=1)

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     82   90     70

### Sorting By Column Values

In [ ]:
grades.sort_values(by='Test1', axis=1, ascending=False)

In [ ]:
grades.T.sort_values(by='Test1', ascending=False)

In [ ]:
grades.loc['Test1'].sort_values(ascending=False)

### Copy vs. In-Place Sorting

By default the sort_index and sort_values return a copy of the original
DataFrame, which could require substantial memory in a big data application. You can
sort the DataFrame in place, rather than copying the data. To do so, pass the keyword
argument inplace=True to either sort_index or sort_values.
We’ve shown many pandas Series and DataFrame features. In the next chapter’s
Intro to Data Science section, we’ll use Series and DataFrames for data munging—
cleaning and preparing data for use in your database or analytics software.